<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>My Favorite Literature</title>
        <link rel="stylesheet" href="/assets/styles.css">
    </head>
    <body>
        <%- include('partials/nav.ejs'); %>
        <h1>Reed's Favorite Literature</h1>
        <p>This website contains some of my favorite literature.</p>
    </body>
</html>
